# Exercícios Fim de Ciclo

## Importe os dados na sua ferramenta de preferência e calcule e utilize a média e mediana para todas as variáveis pertinentes, para responder às perguntas da CEO:

In [102]:
import pandas as pd
orders = pd.read_csv('datasets/orders.csv')
reviews = pd.read_csv('datasets/order_reviews.csv')
sellers = pd.read_csv('datasets/sellers.csv')

### Quantos meses abrangem o histórico de vendas?

In [42]:
# Converte a coluna order_approved_at para datetime
orders['order_approved_at'] = pd.to_datetime(orders['order_approved_at'])
# Cria coluna com apenas o mes e o ano 
orders['periodo'] = orders['order_approved_at'].dt.to_period('M')
# Conta o número de períodos únicos
orders['periodo'].dropna()
orders['periodo'].nunique()

24

### Qual o nível de vendas nos últimos 6 meses?

In [71]:
meses = orders['periodo'].sort_values(ascending=False).unique()
list_mes = meses.astype(str)
pedidos = 0
for mes in range(6):
    qt = orders[orders['periodo'] == list_mes[mes]]['order_id'].nunique()
    pedidos += qt
print(f'Quantidade de pedidos: {pedidos}')

Quantidade de pedidos: 32805

### Quantos clientes temos tido nos últimos 6 meses?

In [77]:
clientes = 0
for mes in range(6):
    qt = orders[orders['periodo'] == list_mes[mes]]['customer_id'].nunique()
    clientes += qt
print(f'Quantidade de clientes nos últimos 6 meses: {clientes}')

Quantidade de clientes nos últimos 6 meses: 32805

### Qual a avaliação que temos dos clientes?

In [101]:
rank_reviews = reviews['review_score'].value_counts().sort_index()
rank_reviews

review_score
1    11424
2     3151
3     8179
4    19142
5    57328
Name: count, dtype: int64

### Quantos vendedores tem vendido pela nossa plataforma nos últimos 6 meses?

In [103]:
sellers

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP